<% content_for :title do %>
  Test Drive All the Languages!
<% end %>

<h1>Test Drive All the Languages!</h1>

<p>When I want to learn a new programming language I start by making a Pig Latin translation library using <a href="https://en.wikipedia.org/wiki/Test-driven_development">Test Driven Development.</a></p>

<p>Regardless of the language the journey is pretty much the same:</p>

<ul>
  <li>Install the language</li>
  <li>Use a standard directory structure</li>
  <li>Use a build tool</li>
  <li>Use a dependency management tool</li>
  <li>Use a testing framework</li>
  <li>Write tests to drive out functionality</li>
  <li>Distribute the library so that others can use it</li>
</ul>

<p>This project is an attempt to document that process for as many modern programming languages as possible.</p>

<p><em>Note: Currently the instructions assume you are on a Mac.</em></p>

<h2>Pig Latin Rules</h2>

<p>Here are the rules for translating words from English to Pig Latin:</p>

<ul>
  <li>When a word starts with a vowel sound or silent letter, add <code>yay</code> to the end of the word.</li>
  <li>When a word starts with a consonant sounds, move all letters before the initial vowel to the end of the word. Then <code>ay</code> is also added to the end of the word.</li>
</ul>

<h2>Tests</h2>

<p>Here are the tests we will use to help us build out the Pig Latin translator:</p>

<h3>Words Starting with Vowels</h3>

<ul>
  <li>The word <code>apple</code> should translate to <code>appleyay</code></li>
  <li>The word <code>orange</code> should translate to <code>orangeyay</code></li>
</ul>

<h3>Words Starting with Single Consonant</h3>

<ul>
  <li>The word <code>computer</code> should translate to <code>omputercay</code></li>
  <li>The word <code>coding</code> should translate to <code>odingcay</code></li>
</ul>

<h3>Words Starting with Multilple Consonants</h3>

<ul>
  <li>The word <code>programming</code> should translate to <code>ogrammingpray</code></li>
  <li>The word <code>string</code> should translate to <code>ingstray</code></li>
</ul>

<h3>Maintaining Capilatizion</h3>

<ul>
  <li>The word <code>Apple</code> should translate to <code>Appleyay</code></li>
  <li>The word <code>Computer</code> should translate to <code>Omputercay</code></li>
  <li>The word <code>Programming</code> should translate to <code>Ogramingpray</code></li>
  <li>The word <code>String</code> should translate to <code>Ingstray</code></li>
</ul>

<h2>Start Your Journey</h2>

<p>Choose the language you would like to learn:</p>

<ul>
  <% data.languages.sort_by { |language| language['title'] }.each do |language| %>
  <li><%= link_to language.title, language.path %></li>
  <% end %>
</ul>
